.woocommerce {
	
	//single product && checkout
	&-message {

		.restore-item {
			color: $red;
		}
	}

	&-info {
		border-top-color: $red;

		&:before {
			color: $red;
		}
	}


	.summary {

		.cart {
			display: flex;
		}
	}

	.qty {
		height: 100%;
		border: none;
		background: $sand;
		@include border-radius();
	}

	.button, .add_to_cart_button {
		background: $red !important;
		color: $white !important;
	}

	.product_meta {
		display: none;
	}

	&-cart-form {

		&__contents {
			
		}

		&__cart-item {

			.product-thumbnail a {
				display: flex;
				pointer-events: none;
			}

			.product-name a {
				color: $color-body;
				pointer-events: none;
			}

			.product-quantity input {
				padding: .8rem 1rem;
			}

			img {
				width: 100px !important;
			}
		}
	}
	
	//checkout
	&-checkout {

		.col2-set {

			input {
				padding: .8rem;
				background: $sand;
				border: none;
				@include border-radius();
			}
		}

		&-payment {
			background: $sand!important;
		}

		#order_comments {
			padding: .8rem;
			background: $sand;
			@include border-radius();
			border: none;
		}
	}

	//shipping
	.shipping-calculator-button {
		color: $red;

		&:after {
			color: $red;
		}
	}

	//shoppage 
	&-ordering {
		display: none;
	}

	&-privacy-policy-link {
		color: $red;
	}


	//shop catalogue
	&-pagination {

		.page-numbers {
			border: none !important;
			color: lighten($color-body, 50%);

			&:hover, &:focus {
				background: $white !important;
			}

			li {
				border: none !important;
			}

			&.current {
				color: $color-body !important;
				background: $white !important;
			}

			&.prev, &.next {
				background: $red;
				color: $white;

				&:hover, &:focus {
					background: $red !important;
					color: $white;
				}
			}

			&.prev {
				margin-right: 1.5rem;
			}

			&.next {
				margin-left: 1.5rem;
			}
		}
	}

	&-loop {

		&-product {

			&__link {
				pointer-events: none;
				color: $color-body;

				.price {
					display: none !important;
				}
			}
		}
	}

	.product a  {
		color: $color-body;
	}

	.product img  {
		width: auto !important;
		max-height: 35rem;
	}
}