.archive {

	&__header {
		padding-bottom: 3rem;
	}

	&__row {
		margin-top: 3rem;
	}

	&__submenu {
		margin-bottom: 3rem;
	}

	&__filter {
		text-transform: uppercase;
		color: $color-body;
		transition: all ease .3s;

		&:hover {
			color: $red;
		}

		&:first-child() {
			padding-left: 0;
		}

		&:hover {
			cursor: pointer;
		}
	}
}