.attractions {

	&--full {

		&.hidden-desktop {
			
			@include above (sm) {
				display: none !important;
			}
		}

		&.hidden-mobile { 
			
			@include below (sm) {
				display: none !important;
			}
		}
	}

	&__intro {
		transition: all ease .3s;
		color: $color-body;

		@include below (sm) {
			padding-top: 3rem;
			padding-bottom: 3rem;
			width: 100%;
		}

		@include between (sm, md) {
			width: 50%;	
		}

		p {
			margin-bottom: 0;
		}

		.btn {
			line-height: 1;
		}
	}

	&__header {

		@include between (sm, md) {
			font-size: 2.8rem;
		}
	}

	&__item {
		background: no-repeat center center;
		background-size: cover;
		position: relative;
		min-height: 24.4rem;
		@include bg-overlay();
		@include bg-cover();
		color: $color-body;
		text-align: left;
		-webkit-appearance: none;
		outline: none;
		border: none;
		line-height: 1.5;

		@include below (xs) {
			width: 100%;
		}
		
		@include between (xs, md) {
			width: 50%;	
		}

		&.is-hidden {
			display: none;
		}

		&:hover {
			cursor: pointer;

			.attractions__content {
				opacity: 1;
			}

			&:after {
				opacity: .9;
			}
		}

		&.is-active {

			.attractions__content {
				opacity: 1;
			}

			&:after {
				opacity: .9;
			}
		}

		&--full {
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;

			@include above (sm) {
				padding-top: 3rem;
				padding-bottom: 3rem;
			}

			&.is-hidden {
				display: none;
			}

			&.hidden-desktop {
				
				@include above (sm) {
					display: none !important;
				}
			}

			&.hidden-mobile { 
				
				@include below (sm) {
					display: none !important;
				}
			}

			.attractions__excerpt p {
				position: relative;

				&:after {
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					left: 0;
					bottom: 0;
					position: absolute;
					background: linear-gradient(to top, rgba($white, 1), rgba($white, 0));
				}
			}

			.btn {
				position: relative;
				z-index: 10;
			}
		}

		&--shuffle {

			@include below (sm) {
				padding-bottom: 4.9rem;	
			}

			.attractions__label {
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}
	}

	&__content {
		opacity: 0;
		transition: all ease .3s;
		position: relative;
		z-index: 10;

		@include below (sm) {
			display: none;
		}
	}

	&__wrap {
		padding-top: 1rem;

		a {
			color: $red;
		}
	}

	&__permalink {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 20;
		left: 0;
		top: 0;
	}

	&__sitelink {
		color: $red;
		position: relative;
		z-index: 30;
		padding-right: 1.5rem;
		width: 100%;
	}

	&__permalink, &__sitelink {

		&.is-visible {
			pointer-events: all;
		}

		@include below (sm) {
			pointer-events: none;
		}
	}

	&__img {
		@include bg-cover();
		min-height: 22.5rem;

		@include below (sm) {
			width: 100%;
		}

		&:after {
			content: 'Flere billeder';
			background: rgba($white, .8);
			color: $color-body;
			padding: .8rem;
			position: absolute;
			bottom: 1.5rem;
			right: 1.5rem;
			font-size: 12px;
			@include border-radius();
			transition: all ease .3s;
		}

		&:hover {

			&:after {
				background: $red;
				color: $white;
			}
		}
	}

	&__info {

		@include below (sm) {
			width: 100%;
		}

		a {
			color: $color-body;
			transition: all ease .3s; 

			&:hover {
				color: $red; 
			}
		}

		&-title {
			margin-top: 1.5rem;
			margin-bottom: 0;
		}
	}

	&__label {
		width: 100%;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		position: absolute;	
		bottom: 0;
		left: 0;

		@include above (sm) {
			display: none;
		}	
	}
}

.is-iphone {

	.attractions__content {
		display: none;
	}

	.attractions__permalink, .attractions__sitelink {
		pointer-events: none;

		&.is-visible {
			pointer-events: all;
		}
	}

	.attractions__label {
		display: block;
	}
}

.wpml-en {

	.attractions__img {

		&:after {
			content: 'More pictures' !important;
		}
	}
}

.wpml-de {

	.attractions__img {

		&:after {
			content: 'Mehr bilder' !important;
		}
	}
}