
.footer {
	margin-top: 1.5rem;

	@include above (sm) {
		margin-top: 3rem;
	}

	&__container {
		background: $sand;
		background-clip: content-box;
	}

	&__item {
		padding: 1.5rem 3rem;

		@include above (sm) {
			padding: 4rem 3rem;
		}

		i {
			color: $red;
			border: 1px solid $red;
			border-radius: 50%;
			width: 3.6rem;
			height: 3.6rem;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			transition: all ease .3s;
			margin: 1rem .2rem;

			&:hover {
				background: $red;
				color: $white;
			}
		}
		
		p {
			
			@include above (sm) {
				margin-bottom: 0;
			}
		}

		a {
			color: $black;
			transition: all ease .3s;

			&:hover {
				color: $red;
			}
		}
	}
}
