.gallery {

	&__title {
		
	}

	&__list {
	
	}

	&__item {
		position: relative;
		width: 50%;

		&.is-hidden {
			display: none;
		}
	}

	&__link {
		display: flex;

		&:before {
			width: 100%;
			height: 100%;
			content: '';
			background: $white; 
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			transition: opacity .3s;
		}

		&:after {
			content: '+';
			font-weight: 400;
			position: absolute;
			color: $red;
			font-size: 40px;
			z-index: 10;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0;
			transition: opacity .3s;
		}

		&:hover {

			&:before, &:after {
				opacity: .8;
			}
		}
	}

	&__caption {

	}
}
