.header {
	position: relative;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;

	&__container {

		@include between (sm, lg) {
			flex-direction: column;
    		align-items: center; 
		}

		@include above (lg) {
			align-items: flex-end;
		}
	}

	&__logo {
		display: flex;
		float: left;

		img {
			width: 278px;
			height: 111px;

			@include between (sm, lg) {
				margin-bottom: 1.5rem;
			}

			@include below (sm) {
				width: 178px;
				height: 71px;
			}

			@include between (sm, md) {
				width: 180px;
				height: 72px;
			}

			@include between (md, lg) {
				width: 210px;
				height: 84px;
			}
		}
	}
}