.nav {

	&__menu {
	    list-style: none;
	    position: relative;
	    z-index: 100;
	    width: 100%;
	    top: 0;
	    left: 0;
	    margin: 0;
	    padding: 0;

		@include above (sm) {
			position: relative;
			width: auto;
			top: 0;
			float: right;
			display: block !important;
		}
	}

	&__item {
		list-style: none;
		padding: .5rem 1.5rem;

		@include above (sm) {
			float: left;
			padding: 0rem 1rem;
			display: inline-block;
		}

		@include between (sm, md) {
			padding: 0rem .5rem;
		}

		@include above (md) {
			padding: 0rem 1rem;
		}

		&.is-active > a {
			color: $red;
		}

		&--cart {
			position: relative;

			img {

				@include below (sm) {
					width: 28px;
					height: auto;
					position: relative;
					left: -.2rem;
				}
			}

			span {
				position: absolute;
				top: 0rem;
				background: $red;
				width: 18px;
				height: 18px;
				font-size: 14px;
				text-align: center;
				border-radius: 50%;
				color: $white;
				z-index: 10;

				@include below (sm) {
					left: 3.5rem;
					width: 16px;
					height: 16px;
					font-size: 12px;
				}

				@include above (sm) {
					right: .3rem;
					top: -.2rem;
				}
			}
		}
	}


	&__link {
		color: $black;
		text-transform: uppercase;
		font-family: $font-headings;
		transition: all ease .3s;

		&:hover {
			color: $red;
		}
	}


	&__dropdown {
		display: none;
		padding: 0;
		position: absolute;
		top: 100%;
		background: red;

		&.is-visible {
			display: block;
		}

		li {
			padding: 0;
		}

		a {
			padding: 0.5rem 1rem;
			white-space: nowrap;

			&:hover {
				text-decoration: none;
			}
		}
	}
	


	&--mobile {
		
		@include below (sm) {
			position: fixed;
			z-index: 78888;
			top: 100px;
			right: 0;
			height: calc(100% - 100px);
			width: 100%;
			transform: translateX(100%);
			transition: all .6s ease;
			background: $white;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;

			&.is-open {
				transform: translateX(0);
			}

			// Set body to fixed
			@at-root {		
				body.is-fixed {
					@include below (sm) {
						overflow: hidden;
						position: fixed;
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		@include above (sm) {
			display: flex;
			align-items: center;
		}
	}


	&-toggle {
		display: block;
		position: absolute;
		z-index:  88888;
		top: 50%;
		right: 1.5rem;
		transform: translateY(-49.9%);
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
		cursor: pointer;

		@include above (sm) {
			display: none;
		}

		&__label {
			color: $black;
			font-weight: 600;
			vertical-align: middle;
			padding-right: .3rem;
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 2rem;
			height: 3px;
			background: $black;
			transition: all .3s ease;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 3px;
				background: $black;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.6rem;
			}

			&::after {
				top: -.6rem;
			}

			body.is-fixed & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg); 
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}