.single {

	&__content {

		a {
			color: $red;
		}
	}

	&__info-column {

		@include below (sm) {
			width: 100%;
		}
	}

	&__info {
		width: 100%;

		a {
			transition: all ease .3s;
		}

		&-title {
			margin-bottom: 1rem;
		}

		&-customer-link {
			color: $red;
			font-weight: 700;

			&:hover {
				color: $color-body;
			}
		}

		&-mail-link {
			color: $color-body;

			&:hover {
				color: $red;
			}
		}
	}

	//product
	&-product {

		&__item {

			@include below (sm) {
				padding-bottom: 6rem;

				&:last-child() {
					padding-bottom: 0;
				}
			}
		}

		&__format {
			margin-bottom: 0;
			margin-top: .5rem;
		}
	}
}