.slider {
	padding-bottom: 1.5rem;

	@include above (sm) {
		padding-bottom: 3rem;
	}

	&__track {
		
		&--front {
			padding-bottom: 1.5rem;

			@include above (sm) {
				padding-bottom: 3rem;
			}
		}
	}

	&__item {
		position: relative;
		z-index: 2;
		width: 100%;
		background: no-repeat center center;
		background-size: cover; 

		&:before {
			content: '';
			display: block;
			height: 0;
			padding-bottom: 25rem;

			@include above (sm) {
				padding-bottom: 40rem;
			}

			@include above (md) {
				padding-bottom: 50rem;
			}
		}
	}

	&__container {

	}

	&__title {
		text-align: center;
		color: $white;
		margin-top: 0;
	}

	&__text {

	}

	&__search {
		background: $sand;
		border-radius: .3rem;
		margin: auto;
		position: relative;
		display: flex;

		@include above (sm) {
			top: -6rem;
			z-index: 10;
			box-shadow: 3px 3px 3px 2px rgba($black, .05);
			width: 90%;	
		}
	}	
}


/**
 * Owl Carousel core
 **/

.is-slider {
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;

	.owl-stage {
		position: relative;
		-ms-touch-action: pan-Y;

		&:after {
			content: '';
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}

		&-outer {
			position: relative;
			overflow: hidden;
			-webkit-transform: translate3d(0, 0, 0);
		}
	}

	.owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-transform: translate3d(0,0,0);
	}

	// Navigation
	.owl-nav,
	.owl-dots {
		&.disabled {
			display: none;
		}
	}

	.owl-dots {
		display: flex;
		justify-content: center;
		position: absolute;
		width: 100%;
		bottom: 1.5rem;
	}

	.owl-prev,
	.owl-next,
	.owl-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition: all .3s ease;

		&.disabled {
			opacity: 0;
			cursor: default;
		}
	}

	.owl-dot {
		width: 1rem;
		height: 1rem;
		background: $white;
		border-radius: 50%;
		margin: .2rem;

		&.active {
			background: $red;
		}
	}

	// States
	&.owl-loaded {
		display: block;
	}

	&.owl-loading {
		opacity: 0;
		display: block;
	}

	&.owl-hidden {
		opacity: 0;
	}

	&.owl-refresh .owl-item {
		display: none;
	}

	&.owl-drag .owl-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-grab {
		cursor: move;
		cursor: grab;
	}

	&.owl-rtl {
		direction: rtl;
	}

	&.owl-rtl .owl-item {
		float: right;
	}

	/**
	 * Animations
	 **/

	 // Defaults
	.animated {
		animation-duration: 1000ms;
		animation-fill-mode: both;
	}

	.owl-animated-in {
		z-index: 0;
	}

	.owl-animated-out {
		z-index: 1;
	}
}