.btn {
	display: block;
	color: $red;
	transition: all ease .3s;
	position: relative;

	&--large {
		font-size: 40px;
		font-weight: 300;
		float: right;
	}

	&--readmore {
		text-align: center;
		color: $color-body;
		font-weight: 400;

		span {
			display: block;
			color: $red;
			font-weight: 300;
			font-size: 30px;
		}
	}

	&--filter {
		padding: 1rem;
		position: relative;
		text-transform: uppercase;
		color: $color-body;
		transition: all ease .3s;

		span {
			padding-left: 1.2rem;
		}

		&:hover {
			color: $red;
		}
	}

	&--back {
		display: inline-block;
		@include border-radius();
		background: $red;
		padding: .8rem 1.5rem;
		color: $white;

		&:hover {
			cursor: pointer;
		}
	}

	&--search {
		background: $red;
		border: none;
		outline: none;
		width: 5rem;
		position: absolute;
		right: 0;
		height: 100%;
		border-top-right-radius: .3rem; 
		border-bottom-right-radius: .3rem; 
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			cursor: pointer;
		}

		@include above (sm) {
			width: 8rem;
		}
	}
}

.button + .button {
	margin-left: .5rem !important;
}