.mc4wp-form {

	&-fields {

		input[type="email"] {
			background: $sand;
			@include border-radius();
			-webkit-appearance: none;
			border: none;
			padding: 1rem;
			min-width: 20rem;
		}

		input[type="submit"] {
			-webkit-appearance: none;
			border: none;
			display: none;
		}
	}
}