.google-map {
	min-height: 30rem;
	margin-bottom: 3rem;

	@include above (sm) {
		min-height: 24rem;
	}

	&--large {
		@include border-radius();
		min-height: 35rem;

		@include below (sm) {
			margin: 1.5rem;
		}

		@include above (sm) {
			min-height: 50rem;
			width: calc(66.66667% - 1.5rem);
		}

		@include above (md) {
			width: calc(83.33333% - 1.5rem);
		}
	}

	&__thumb {
		min-height: 8rem;
		display: block;
		@include bg-cover();

		@include above (sm) {
			min-height: 10rem;
		}

		&--small {
			min-height: 8rem;
		}
	}

	&__title {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}

	&__link {
		color: $red;
	}
}