.search-result {

	&__form {
		position: relative;
		display: flex;
		align-items: center;

		svg {
			width: 1.4rem;
			height: 1.4rem;
			margin-left: 1rem;
			margin-right: 1rem;
			left: 0;
			z-index: 10;
			position: absolute;
		}

		svg + svg {
			margin-left: 3rem;
		}

		&--large {
			width: 100%;
			
			input {
				min-width: 100%;
				padding: 1.2rem;
				padding-right: 5rem;

				@include above (sm) {
					padding: 2.5rem 1.8rem;
					padding-right: 8rem;
				}
			}

			svg {
				position: relative;

				path {
					fill: $white;
				}
			}
		}
	}

	&__input {
		background: $sand;
		-webkit-appearance: none;
		border: none;
		padding: .8rem;
		@include border-radius();
		min-width: 25rem;
		padding-left: 5rem;

		&--small {
			width: 100%;
			min-width: 0rem;
			padding-left: 3rem;
		}
	}

	&__filter {
		background: $sand;
		@include border-radius();
		padding: 1.5rem;
		margin-top: 1.5rem;

		svg {
			width: 1.3rem;
			height: 1.3rem;
			margin-right: .5rem;
		}

		label {
			display: block;
			margin-left: .2rem;
		}
	}

	&__checkbox {
		border-radius: 0;
		-webkit-appearance: none;
		background: $white;
		width: 1.2rem;
		height: 1.2rem;

		&:checked {
			background: $red;
		}
	}

	&__item {
		display: none;

		&.is-active {

			.btn {
				transform: rotate(0deg)!important;
			}
		}
		
		&.is-visible {
			display: block;
		}
	}
}