/********************MIXINS*********************/

@mixin clearfix() {

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin bg-cover () {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@mixin bg-overlay ($color: $white, $opacity: 0) {
  position: relative;

  &:after {
    background-color: $color;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    opacity: $opacity;
    z-index: 0;
    transition: all ease .3s;
  }
}

@mixin border-radius ($radius: .3rem) {
	border-radius: $radius;
}